#groupsPage {
	@include simplePage();
	#groupButtons {
		@include display(flex);
		@include justify-content(space-between);
		margin-bottom:10px;

	}
	#groupContentSection{
		border-width:1px;
		border-style:solid;
	}
	#groupNameSearch{
		width:90%;
	}

	#searchIcon{
		float:left;
		font-size:$font-size-h4;
		padding-top:6px
	}
	.selectedButton {
		background-color: gray;
	}
	i {
		display:inline-block;
		float: right;
		font-size: $font-size-h3;
		padding: 2px;
	}
}
