// Grove colors

$groveOrange: #FF8F12;
$groveGreen: #A8D032;
$darkGray: #333030;
$mediumGray: #D4D3D3;
$lightGray: #F3F2F2;

// Fonts

$thinTitleFont:         Helvetica, sans-serif;
$boldTitleFont:         "Freight Sans Bold";
$boldItalicTitleFont:   "Freight Sans Bold Italic SC";

$roundedTitleFont:      "Bariol Regular";
$roundedBoldTitleFont:  "Bariol Bold";
$roundedThinTitleFont:  "Bariol Light";

$thinBodyFont:  "Freight Sans Light", Helvetica, Arial, sans-serif;

// Navbar background color
$navbarBgColor: rgba($darkGray, 0.8);

$hoverColorTransTime: 100ms;

$navbarLogoHeight: 25px;