$west-panel-width: 250px;

$header-link-height: 10px;

$smScreenMin:  481px;
$mdScreenMin:  768px;
$lgScreenMin:  1025px;
$xlScreenMin:  1281px;

// Grove colors

$brickRed:    #8E3B35;
$lightBrown:  #AF7A60;
$oxCopper:    #32A981;
$lightGray:   #CCCCCC;

// Fonts

$thinTitleFont:         Helvetica, sans-serif;
$boldTitleFont:         "Freight Sans Bold";
$boldItalicTitleFont:   "Freight Sans Bold Italic SC";

$roundedTitleFont:      "Bariol Regular";
$roundedBoldTitleFont:  "Bariol Bold";
$roundedThinTitleFont:  "Bariol Light";

$thinBodyFont:  "Freight Sans Light", Helvetica, Arial, sans-serif;

$hoverColorTransTime: 100ms;

$navbarLogoHeight: 25px;