@import 'packages/bootstrap3-sass/bootstrap';

//////////////////////////////////////////
// Variables
//////////////////////////////////////////
$brand-font-size: 30px;
$navbar-height: 50px;
$brand-brown: #7b4a12;
$brand-lt-brown: #c9873b;
$brand-red: #b91b18;
$brand-gray: #8c8c8c;
$brand-red-hover: #981b18;
//////////////////////////////////////////

body {
    padding-top: $navbar-height + 10px;
}

ul {
    list-style: none;
}

.link-stub {
    cursor: pointer;
}

#login-dropdown-list {
    #login-other-options {
        a {
            margin-top: 10px;
        }
    }
}

#signup-form, #profile-edit-form, #password-form, #group-edit-form, #group-create-form {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

i.lgr {
    font-size: 1.5em;
}

.top-bar {
    background-color: $brand-brown;
    border: none;

    .navbar-brand {
        // font-family: 'Chewy', cursive;
        font-family: 'Fredericka the Great', cursive;
        font-size: 2.0em;
        height: inherit;
        padding-bottom: 18px;
    }
    .nav-text {
        font-size: 14px;
    }
    .house-name {
        float: left;
        padding: 18px 5px 16px 0px;
        &:hover {
            text-decoration: none;
        }
    }
    .navbar-brand, .nav-text, li > a.nav-text{
        color: white;
        padding-right: 8px;
        padding-left: 8px;
        &:hover, &:active, &:focus {
            color: white;
            background-color: $brand-lt-brown;
        }
        &:focus {
            color: white;
            background-color: $brand-lt-brown;
        }
        i > b.caret {
            margin-left: 0px;
        }
    }
    a.signin {
        padding: 17px 5px 17px 5px;
    }
    li.dropdown.open > a {
        background-color: $brand-lt-brown;
        color: white;
        &:hover, &:active, &:focus {
            color: white;
            background-color: $brand-lt-brown;
        }
    }
    li.app-menu > a {
        padding-bottom: 18px;
    }
    #app-menu {
        li.no-apps {
            padding: 7px 15px;
            a {
                display: inline;
                color: #428bca;
                padding-left: 0px;
                &:hover {
                    background-color: transparent;
                    text-decoration: underline;
                }
            }
        }
    }
}

.btn-app-primary {
    color: #fff;
    background-color: $brand-red;
    border-color: $brand-red-hover;
    &:hover, &:focus {
        color: white;
        background-color: $brand-red-hover;
        border-color: $brand-red-hover;
    }
}

.app-item {
    i {
        color: $brand-red;
        display: inline-block;
        padding-bottom: 5px;
        padding-right: 12px;
        &:hover, &:focus {
            color: $brand-red-hover;
            cursor: pointer;
        }
    }
    h3 {
        display: inline-block;
    }
}
