<template name="createAccountPage">


    <form id="signup-form" role="form">
        <h1 class="page-header">Create an account</h1>

        <div class="form-group">
            <label for="firstNameInput">First name</label>
            <input type="text" class="form-control" id="firstNameInput" placeholder="Enter first name">
        </div>

        <div class="form-group">
            <label for="lastNameInput">Last name</label><input type="text" class="form-control" id="lastNameInput" placeholder="Enter last name">
        </div>

        <div class="form-group">
            <label for="emailInput">Email address</label>
            <input type="email" class="form-control" id="emailInput" placeholder="Enter email">
        </div>

        <div class="form-group">
            <label for="passwordInput">Password</label>
            <input type="password" class="form-control" id="passwordInput" placeholder="Enter password">
        </div>

        <div class="form-group">
            <label for="groupInput">Living Group</label>
            <select name="group" id="group">
                {{#each groups}}
                    <option value="{{_id}}">{{name}}</option>
                {{/each}}
            </select>
            <span class="no-account-explain">Don't see your group here? <a href="{{pathFor 'groupCreatePage'}}">Make it now</a></span>
        </div>

        <button type="submit" class="btn btn-app-primary btn-default">Create account</button>

    </form>


</template>